.header .header_container {
  padding: 0.4rem 5rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-color);
}

.header .header_container .image1 {
  width: 100px;
}
.header .header_container h1 {
  user-select: none;
  font-family: pop-B;
  font-size: 1.7rem;
  color: var(--white-color);
}

.header .header_container .image2 {
  width: 220px;
}
