.body {
  display: grid;
  grid-template-columns: 6fr 4fr;
}

.body article {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: var(--white-color);
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.body article aside {
  background-color: rgb(181, 186, 199);
}

.body article .left_container {
  grid-column-start: 2;
  grid-column-end: 6;
  max-width: 900px;
  width: auto;
  height: auto;
  background-color: rgb(181, 186, 199);
  border-radius: 20px;
}

.body article .left_container .nav {
  display: flex;
  position: absolute;
  flex-direction: column-reverse;
  transform: rotate(180deg) translateX(43px) translateY(-20px);
  justify-content: center;
  align-items: center;
}

.body article .left_container .nav li {
  list-style-type: none;
  display: flex;
}

.body article .left_container .nav > li a {
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--black-color);
  padding: 1rem 0.6rem;
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

.body article .left_container .nav > li #one {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.body article .left_container .nav > li #three {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.body article .left_container .sub_nav {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  outline: 2px solid;
  width: 30px;
  padding: 5px 0 3px 0;
  outline-style: groove;
  border-radius: 10px;
  z-index: -1;
}

.sub_transform-show {
  transform: translateY(7px);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.sub_transform-hide {
  transform: translateY(140px);
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.body article .left_container .sub_nav a {
  background-color: var(--white-color);
  padding: 0.3rem;
}

.body article .left_container .sub_nav img {
  width: 25px;
  transform: rotate(180deg);
}

/*
------------------
Article One & Two
------------------
*/
.body article .left_container .article_one,
.body article .left_container .article_two {
  padding: 2.5rem;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.body article .left_container .article_one h3,
.body article .left_container .article_two h3,
.body article .left_container .article_three_i h3 {
  text-align: center;
  /* margin: 0 0 1.3rem 0; */
  font-family: pop-SB;
  font-size: 1.3rem;
}

.body article .left_container .article_one p,
.body article .left_container .article_two p {
  text-align: justify;
}

.body article .left_container .article_one p:nth-child(2),
.body article .left_container .article_one p:nth-child(3),
.body article .left_container .article_two p:nth-child(2),
.body article .left_container .article_two p:nth-child(3) {
  margin-bottom: 1rem;
}

/*
----------------
Article Three Location
----------------
*/
.body article .left_container .article_three {
  display: flex;
  flex-direction: column;
}

.body article .left_container .article_three header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}

.body article .left_container .article_three header h3 {
  transform: translateY(-7px);
}

.body article .left_container .article_one header,
.body article .left_container .article_two header {
  grid-column: span 6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.body article .left_container .article_one header img,
.body article .left_container .article_two header img,
.body article .left_container .article_three img,
.body article .left_container .article_three_i header img {
  width: 40px;
  height: 40px;
}

.body article .left_container .article_one header h3,
.body article .left_container .article_two header h3 {
  display: flex;
  align-items: center;
  align-content: center;
  transform: translateY(-5px);
}

/*
----------------
Article Three Contact Location
----------------
*/

.body article .left_container .article_three_i {
  row-gap: 2rem;
}

.body article .left_container .article_three_ii {
  row-gap: 1rem;
}

.body article .left_container .article_three_i,
.body article .left_container .article_three_ii {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 1.5rem 0 2rem 0;
}

.body article .left_container .article_three_i aside,
.body article .left_container .article_three_ii aside {
  display: flex;
  justify-content: center;
  align-self: self-start;
  position: relative;
  grid-column-start: 2;
}

.body article .left_container .article_three_i aside img,
.body article .left_container .article_three_ii aside img,
.body article .left_container .article_three_iii aside img {
  width: 25px;
  height: 25px;
}

.body article .left_container .article_three_i p {
  grid-column: span 3;
}

.body article .left_container .article_three_i .icon2 {
  grid-column: span 6;
}

.body article .left_container .article_three_i iframe {
  display: flex;
  grid-column: span 6;
  max-width: 350px;
  min-width: auto;
  justify-self: center;
  border-radius: 10px;
}

/*
----------------
Article Three Contact
----------------
*/
.body article .left_container .article_three_ii h4 {
  grid-column: span 3;
}

.body article .left_container .article_three_ii p {
  grid-column-start: 3;
  grid-column-end: 6;
}

.body article .left_container .article_one .body article .body aside {
  background-color: var(--bg-color);
}

/*
----------------
Article Three Contact Form
----------------
*/

.body article .left_container .article_three_iii {
  padding-bottom: 2rem;
}

.body article .left_container .article_three_iii form {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  row-gap: 0.5rem;
}

.body article .left_container .article_three_iii form div {
  display: flex;
  flex-direction: column;
  grid-column-start: 3;
  grid-column-end: 9;
}

.body article .left_container .article_three_iii form input,
.body article .left_container .article_three_iii form textarea {
  grid-column-start: 3;
  grid-column-end: 9;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 0.2rem 1rem;
}

.body article .left_container .article_three_iii form textarea {
  resize: vertical;
}

.hidden {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.body article .left_container .article_three_iii #submit_container {
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
}

.body article .left_container .article_three_iii #submit_btn {
  padding: 0.3rem 1rem;
  border-radius: 5px;
  border: 0;
  box-shadow: 0 0 2px 1px;
}

/*
--------------------------
Right Side Layout
--------------------------
*/

.body aside {
  background-color: rgb(241, 242, 249);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.body aside .right_container {
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}

.body aside .right_container img {
  width: 150px;
  height: 150px;
}

.body aside .right_container h3 {
  font-size: 1.5rem;
}

.body aside .right_container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.body aside .right_container form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body aside .right_container input {
  border-radius: 5px;
  border: 0;
  padding: 0.2rem 1rem;
}

.body aside .right_container div:last-child {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

.body aside .right_container button {
  padding: 0.3rem 1rem;
  border-radius: 5px;
  outline: none;
  border: 0;
  box-shadow: 0 0 2px 1px;
}
